@import "tailwindcss";

:root {
  /* Background */
  --background: #F1F9F3;
  --foreground: #183327;

  /* Brand */
  --primary: #1A5133;
  --primary-dark: #183327;
  --primary-light: #2D5B46;

  /* Accent */
  --accent: #E6A113;
  --accent-light: #F4C542;

  /* Cards & Border */
  --surface: #FFFFFF;
  --surface-soft: #EAF5ED;
  --border: #D7E8DC;

  /* Text */
  --text-primary: #183327;
  --text-secondary: #5A6655;
  --text-white: #FFFFFF;

  --font-geist-sans: "Geist Sans", sans-serif;
  --font-geist-mono: "Geist Mono", monospace;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --color-primary: var(--primary);
  --color-primary-dark: var(--primary-dark);
  --color-primary-light: var(--primary-light);

  --color-accent: var(--accent);
  --color-accent-light: var(--accent-light);

  --color-surface: var(--surface);
  --color-surface-soft: var(--surface-soft);
  --color-border: var(--border);
}

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-geist-sans);
}